form input {
    margin-top: 15px;
    margin-left: 100px;
    padding: 7px 10px;
    padding-right: 200px;
    border-radius: 10px;
    background-color: rgb(240, 241, 242);
}

table {
    margin-left: 100px;
    border: 2px solid black;
    margin-top: 20px;
}

th {
    height: 40px;
    color: azure;
    background-color: black;
}

td {
    padding: 0 50px ;
    box-sizing: border-box;
}

#tr-2 {
    background-color: rgb(235, 232, 232);
}

table button {
    padding: 10px 15px;
    color: #fff;
    background-color: rgb(36, 131, 255);
    border-radius: 10px;
    margin: 0;
}

.red-btn {
    background-color: rgb(255, 65, 65);
    margin-left: 20px;
}

button {
    margin-left: 100px;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(36, 131, 255);
}